/*Comienza Footer*/

.footer {
    border-top: solid 5px $colorLetra;
    color: $colorLetra;
    .titulo_redes {
        text-align: center;
    }
    .container_redes{
        display: flex;
        justify-content: space-between;
        .redes {
            a {
                text-decoration: none;
                @extend .titulo_redes;
                color: $colorLetra;
                display: block;
            }
            img {
                width: 4rem;
                height: 4rem;
                margin-left: 1rem;
                padding: 5px;
                border-radius: 40%;
            }
        }
    }
}

@media only screen and (max-width:767px) {
    .footer {
        height: 100px;
        .titulo_redes {
            display: none;
        }
        .container_redes{
            .redes {
                a {
                    text-decoration: none;
                    text-align: center;
                    color: $colorLetra;
                    display: block;
                }
                img {
                    height: 2.5rem;
                    width: 2.5rem;
                    padding: 5px;
                    border-radius: 40%;
                }
            }
        }
    }
}