/*Comienza el Main*/
.container{
    .row {
        .titulo_equipo {
            color: $colorLetra;
            font-size: 2rem;
        }
        .card{
            .card-body{
                font-size: 1.2rem;;
            }
        }
    }
}

.accordion {
    .accordion-item{
        .accordion-header {
            background-color: $colorLetra;
            .accordion-button{
                border: solid 2px $colorLetra;
                font-size: 1.5rem;
            }
        }
        .accordion-collapse {
            .accordion-body {
                font-size: 1.2rem;
            }
        }
    }
}


/*Finaliza el Main*/