
/*Comienza el Main de Educacion*/
.intro-edu {
    color:$colorLetra;
    /* text-align: center; */
    margin: 2rem auto;
    h2 {
        font-size: 2rem;
        font-family: $tipoLetra;
    }
    p {
        font-size: 1.3rem;
    }
}

.card {
    background-color: $colorTransparencia;
    color: $colorLetra;
    margin: 1rem 3rem;
    border:solid 5px $colorLetra;
    h2 {
        font-size: 2rem;
        font-family: $tipoLetra;
    }
    p {
        font-size: 1.3rem;
    }
    a {
        text-decoration: none;
        font-size: 1.5rem;
        background-color: $colorLetra;
        color: $colorFondo;
        border-radius: 5%;
        transition: 1s;
    }
    a:hover {
        background-color: black;
        color: $colorLetra;
        border: solid 2px $colorLetra;
    }
    
}
/*Finaliza el Main de Educacion*/

/*Comienza el Main de Tienda*/
.introTienda {
    color: $colorLetra;
    .tituloTienda {
        font-family: $tipoLetra;
        font-size: 3rem;
        color: $colorLetra;
    }
    .textoTienda {
        color: $colorLetra;
        font-style: italic;
    }
}

.container {
    .row {
        .lead {
            h3 {
                font-family: $tipoLetra;
                color: $colorLetra;
            }
        }
        .card {
            .card-body {
                .botonTienda {
                    transition: 1s;
                }
                .botonTienda:hover {
                    background-color: black;
                    color: $colorLetra;
                    border: solid 2px $colorLetra;
                }
            }
        }
    }
}

/*Finaliza el Main de Tienda*/

/*Comienza el Main de Nosotros*/
.container{
    .row {
        .titulo_equipo {
            color: $colorLetra;
            font-size: 2rem;
        }
        .card{
            .card-body{
                font-size: 1.2rem;;
            }
        }
    }
}

.accordion {
    .accordion-item{
        .accordion-header {
            background-color: $colorLetra;
            .accordion-button{
                border: solid 2px $colorLetra;
                font-size: 1.5rem;
            }
        }
        .accordion-collapse {
            .accordion-body {
                font-size: 1.2rem;
            }
        }
    }
}
/*Finaliza el Main Nosotros*/

/*Comienza el Main Contacto*/
 .container_flex {
    display: flex;
    flex-direction: column;
    justify-content: center;
    h2 {
        font-family: $tipoLetra;
        color: $colorLetra;
        font-size: 3rem;
    }
    p {
        font-size: 1.2rem;
        color: $colorLetra;
        text-align: center;
    }
 }

 form {
    h2 {
        font-family: $tipoLetra;
        color: $colorLetra;
        font-size: 2rem;
    }
 }


/*finaliza el Main Contacto*/